:host {
}

/* To ensure your styling works under the Shadow DOM polyfill, see
   www.polymer-project.org/docs/polymer/styling.html#directives */
polyfill-next-selector { content: ':host > h2'; }
::content h2 {
  color: blue;
}

div{
	font-family: "Open Sans", "SegoeUI", "Roboto Cond";
	font-size: 1em;

}
#posthead{
	width: 80%;
	height: 120px;
	margin-right: auto;
	margin-left:auto;
	margin-bottom: 20px;
	display: block;
	position: relative;
  	border-radius: inherit;
  	overflow: hidden;
  	box-sizing: border-box;
}
div{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: 20%;

}
span{
	vertical-align: middle;
}
.postID{
	width: 5%;
	margin-right: 2em;
}
#posthead .postTopic{
	width: 50%;
	font-size: 1.3em;
	text-align: left;
	text-transform: capitalize;
}
.postViews{
	font-size: 1.3em;
	width: 10%
}
.postReplies{
	font-size: 1.3em;
	width: 10%;
}
.postLastPost{
	font-size: 1.3em;
	width: 18%;
}
div .notation{
	font-size: 0.8em;
}
#ripple{
	color: #ffda00;
	position: absolute;
	box-sizing:border-box;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	user-select: none;
	--webkit-user-select: none;
	-moz-user-select: none;
}
#shadow-container {
  border-radius: inherit;
}
